/* fonts */
@font-face {
	font-family:"helvetica45";
	src: url("./fonts/helveticaneueltpro_lt-webfont.eot");
	src: url("./fonts/helveticaneueltpro_lt-webfont.eot?#iefix") format("embedded-opentype"),
		url("./fonts/helveticaneueltpro_lt-webfont.woff") format("woff"),
		url("./fonts/helveticaneueltpro_lt-webfont.ttf") format("truetype"),
		url("./fonts/helveticaneueltpro_lt-webfont.svg#helvetica45") format("svg");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "helvetica75";
	src: url("./fonts/helveticaneueltpro_bd-webfont.eot");
	src: url("./fonts/helveticaneueltpro_bd-webfont.eot?#iefix") format("embedded-opentype"),
		url("./fonts/helveticaneueltpro_bd-webfont.woff") format("woff"),
		url("./fonts/helveticaneueltpro_bd-webfont.ttf") format("truetype"),
		url("./fonts/helveticaneueltpro_bd-webfont.svg#helvetica75") format("svg");
	font-weight: normal;
	font-style: normal;
}

/* common */
body {
  margin: 0;
  padding: 0;
	min-width: 320px;
	background-color: #222222;
  color: #FFFFFF;
	font-family: "helvetica45", Helvetica, sans-serif;
}

a {
	color: #FFFFFF;
	text-decoration: none;
}

.primary-bg { background-color: #323232; }
.content-bg { background-color: #FFFFFF; }
.highlight-bg { background-color: #1FADEA; }

.primary-c { color: #323232; }
.content-c { color: #FFFFFF; }
.highlight-c { color: #1FADEA; }

.text-center { text-align: center; }
.text-right { text-align: right; }
.pos-rel { position: relative; }

.wide-font {
	font-family: "helvetica75";
	font-size: 22px;
}

.content-container {
  margin: 0 auto;
	max-width: 1000px;
	padding: 0 20px;
}

.flex-between {
  display: flex;
	align-items: center;
	justify-content: space-between;
}
.flex-center {
  display: flex;
	align-items: center;
	justify-content: center;
}

.padding-top-bottom-10 {
	padding-top: 10px;
	padding-bottom: 10px;
}
.padding-left-right-30 {
	padding-left: 30px;
	padding-right: 30px;
}
.padding-bottom-10 { padding-bottom: 10px; }
.padding-right-10 { padding-right: 10px; }

.no-select-click {
	cursor: pointer;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.visibility-hidden { visibility: hidden; }

.clearBothAfter:after {
  content: "";
  display: table;
  clear: both;
}

/* header */
.logo {
  text-align: center;
	font-size: 32px;
	padding: 10px 0;
	color: #1FADEA;
}

/* common */
.loading-bg {
	background-color: rgba(0, 0, 0, 0.4);
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
}
.loading-icon {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -20px;
	margin-top: -24px;
}
.generic-loading .loading-icon {
  top: 155px;
}
.image-with-loading .loading-icon {
  opacity: 0.7;
}
.image-with-loading img {
	display: block;
}
.image-with-loading.is-loading img {
	visibility: hidden;
}


/* options */
.ribbon {
	display: flex;
	align-items: center;
}
.ribbon > div {
	flex-grow: 1;
	flex-basis: 0;
}
.layouts {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}
.layout-icon {
	font-size: 22px;
	padding: 0 8px;
}
.layout-icon .fa-file-image-o {
	font-size: 20px;
}
.layout-icon .fa-th-list {
	padding-top: 6px;
}

/* list */
.layout-list, .layout-posters {
	padding-top: 10px;
	padding-bottom: 20px;
}
.layout-list .list-item {
	margin-bottom: 20px;
	min-height: 113px;
}
.layout-list .list-item:first-child {
  margin-top: 10px;
}
.layout-list .list-item img {
	width: 200px;
}
.list-item-content {
	padding: 10px 20px;
	flex-grow: 1;
}
.more-tag{
	padding-right: 20px;
	white-space: nowrap;
}

.layout-posters .list-item {
	float: left;
	width: 180px;
	height: 270px;
	padding: 10px;
}
.layout-posters .list-item img {
	width: 180px;
	height: 270px;
}
.fallback-poster {
	border: 1px solid white;
	width: 160px;
	height: 250px;
	padding: 10px;
}

/* item */
.item {
	padding-top: 20px;
	padding-bottom: 20px;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}
.item-image img {
	width: 400px;
	min-height: 250px;
	padding-bottom: 20px;
}
.item-content {
	padding-left: 20px;
}

.item-content > div {
	margin-bottom: 20px;
}
.company {
	float: left;
	width: 200px;
	padding: 5px;
	margin: 4px 10px 10px 0;
}
.company img {
	padding-bottom: 5px;
	border-bottom: 1px solid #323232;
}

/* media queries */
@media only screen and (max-width: 1039px) {
  .layout-posters { width: 800px; }
}
@media only screen and (max-width: 839px) {
  .layout-posters { width: 600px; }
}
@media only screen and (max-width: 767px) {
  .ribbon { flex-direction: column; }
	.item-movie-id, .more-tag { display: none; }
}
@media only screen and (min-width: 600px) and (max-width: 767px) {
	.item-image img { width: 200px; }
}
@media only screen and (max-width: 639px) {
  .layout-posters { width: 400px; }
}
@media only screen and (max-width: 599px) {
	.item { flex-direction: column; }
	.item > div { padding-left: 0; }
	.item-image img { width: auto; }
}
@media only screen and (max-width: 479px) {
	.list-item{ flex-direction: column; }
}
@media only screen and (max-width: 439px) {
	.layout-posters { width: 200px; }
	.item-image img { width: 100%; }
}
